.container{
    width: 100%;
    display: flex;
    justify-content: center;;
}

.projects-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;;
}

.project-header{
    border-top: solid 5px #E76F51;
    padding-top: 1rem;
}

.project-subheader{
    text-align: center;
}

.points-container{
    width: 80%;
}

.points-grid{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.points-grid--performance{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
    align-items: center;
}

.points-grid--performanceThings{
    display: flex;
    gap: 1rem;
}

.points-grid--select{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    width: 100%;
}

.points-input{
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #cabcbc;
}

.points-input.points{
    width: 50%;
}

#calc-button{
    width: 5rem;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #207000;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-bottom: 2rem;
}
#calc-button:hover{
    background-color: rgb(28, 116, 10);

    color: #fff;
    transform: translateY(-3px);
}

.points-button--container{
    display: flex;
    justify-content: center;    
}

h5{
    margin: 0;
}

.points-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 3rem;
    gap:1rem;
    border-bottom: 1px black;
}



.points-table--remove-button {
    width: 5rem;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    background-color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    }
  
  .points-table--remove-button:hover {
    background-color: rgb(223, 67, 19);
    box-shadow: 0px 15px 20px rgb(255, 176, 102);
    color: #fff;
    transform: translateY(-3px);
  }

  @media (max-width: 700px) {

    .points-container{
        width: 95%;
    }
    .points-grid--select{
        grid-template-columns: 1fr;
    }
  }