.about-container{
    /* margin-left: 3rem;
    margin-right: 3rem; */
    margin-top: 2rem;
    width: 65%;  
    margin:2rem auto 0 auto;
    display: flex;
    flex-direction: column;
} 

.about-title{
    width: 120px;
    padding-top: 1rem;
    border-top: solid 5px #F05D5E;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.about-paragraph{
    font-weight: 500;
}

@media (max-width: 800px){
    .home-container{
        /* margin-left: 3rem;
        margin-right: 3rem; */
        margin-top: 2rem;
        border-top: none;
        width: 100%;
        
        margin:3rem auto 0 auto;
    } 
    
    .home-container > h1{
        padding-left: 2rem;
    }
    .home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;
        gap: 1rem;
    }
}