.card-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.container_left{
    display: flex;
    background-color: white;
    color: #FF3B3F;
    gap:1rem;
    padding-left: 1rem;
}

.container_left>h1{
    font-size: 1.3rem;
    color: black !important;
}

.container_right{

}

@media(max-width: 768px){
    .card-container{
        display: grid;
        grid-template-columns: 1fr ;
    }
    
}