.card-container {
    background-color: #118AB2;
    width: 100%;
    min-height: 15rem;
    height: 100%;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-container>*{
    padding:1rem 1rem 2rem 1rem;
}

.card-container:hover{
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}