.navbar__links {
    overflow: hidden;
    background-color: #EFEFEF;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: black;
    height: 100px;
    align-items: center;
    z-index:1;
    background: /* Shadow covers */
  linear-gradient(#EFEFEF 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #EFEFEF 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(#EFEFEF 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #EFEFEF 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
}

.navLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.link {
    color: black;
    text-decoration: none;
    position: relative;

}

.link:hover {
    color: #FF3B3F;
    transition: all 0.7s ease-in-out;
}


.link.active>* {
    color: #FF3B3F;
    transition: all 0.35s ease-in-out;
}

.link::after {
    content: "";
    position: absolute;
    transform: translateY(0.3rem) translateX(-2rem);
    left: calc(50% - 5px);
    border-style: solid;
    background-color: transparent;
    color: #FF3B3F;
    border-color: transparent;
    border-radius: 50%;
    display: block;
    width: 5px;
    height: 5px;

}

.link.active::after {
    content: "";
    position: absolute;
    transform: translateY(0.3rem);
    left: calc(50% - 5px);
    border-style: solid;
    background-color: #FF3B3F;
    color: #FF3B3F;
    border-color: #FF3B3F 1px;
    border-radius: 50%;
    display: block;
    width: 5px;
    height: 5px;
    transition: all 0.35s ease-in-out;
}


/* 
.link.active::after {
    content: "";
    position: absolute;
    transform: translateY(-1rem) rotate(45deg);
    left: 85px;
    border-style: solid;
    background-color: #FF3B3F;
    color: #FF3B3F;
    border-color: #FF3B3F 1px;
    display: block;
    width: 10px;
    height: 10px;
    transition: all 200ms ease-in-out;
} */