.navbar__links {
    overflow: hidden;
    background-color: #e4e4e4f1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: black;
    height: 100px;
    align-items: center;
    z-index: 100;
    transition: all ease-in-out 0.2s;
}
.hide-nav{
    height: 0;
    transition: all ease-in-out 0.2s;
}

.resume__button {
    color: #FF3B3F;
    border: #FF3B3F solid 2px;
    background-color: #e4e4e4;
    border-radius: 6px;
    padding: 10px;
    transform: translateY(-10px);
    font-weight: 600;
    transition: all 0.2ms ease-in-out;
    cursor: pointer;
}

.resume__button:hover {
    border: #118AB2 solid 2px;
    transition: all 0.2ms ease-in-out;
}

.links__list {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.navLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: transparent 3px solid;
    transition: all 0.2s ease-in-out;
}

.navLogo:hover {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: #118AB2 3px solid;
    transition: all 0.2s ease-in-out;
}

.logolink {
    margin-left: 2rem;
}

.link {
    color: black;
    text-decoration: none;
    position: relative;
}
.link>div>span>{
    color: #118AB2;
}
a.link div span{
    color: #118AB2;
}

.link:hover {
    color: #118AB2;
    transition: all 0.7s ease-in-out;
}


.link.active>* {
    color: #118AB2;
    transition: all 0.35s ease-in-out;
}

.link::after {
    content: "";
    position: absolute;
    transform: translateY(0.3rem) translateX(-2rem);
    left: calc(50% - 5px);
    border-style: solid;
    background-color: transparent;
    color: #FF3B3F;
    border-color: transparent;
    border-radius: 50%;
    display: block;
    width: 5px;
    height: 5px;

}

.link.active::after {
    content: "";
    position: absolute;
    transform: translateY(0.3rem);
    left: calc(50% - 5px);
    border-style: solid;
    background-color: #FF3B3F;
    color: #FF3B3F;
    border-color: #FF3B3F 1px;
    border-radius: 50%;
    display: block;
    width: 5px;
    height: 5px;
    transition: all 0.35s ease-in-out;
}

.hamburger__menu{
    display: none;
}

.side-nav{
    display: none;
}
    
@media (max-width: 800px){
    .hamburger__menu{
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 1.5rem;
    }
    .links__list{
        display: none;
        
    }
    .side-nav__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:3rem;
        width: 100%;
        
    }

    .side-nav.active{
        display: block;
        position: fixed;
        right:10px;
        top:100px;
        transition: all 0.5s ease-in-out;
        width:50%;
        background-color: #e4e4e4ea;
        height: 100%;
    }
    .side-nav.inactive{
        width:50%;
        display: block;
        position: fixed;
        right:-100%;
        top:100px;
        transition: all 0.5s ease-in-out;
        height: 100%;

    }
}
/* Line */


/* .link::after {
    content: "";
    position: absolute;
    transform: translateY(0.3rem) translateX(-2rem);
    left: calc(50% - 5px);
    border-style: solid;
    background-color: transparent;
    color: #FF3B3F;
    border-color: transparent;
    display: block;
    width: 1px;
    height: 1px;

}

.link.active::after {
    content: "";
    position: absolute;
    left:0;
    transform: translateY(0.3rem);
    border-style: solid;
    background-color: #FF3B3F;
    color: #FF3B3F;
    border-bottom: #FF3B3F 1px;

    border-radius: 0;
    display: block;
    width: 95%;
    height: 0.0px;
    transition: all 0.5s ease-in-out;
}  
*/

