.nav-body{
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #094748 ;
    border-bottom: solid 5px #F05D5E ;
    margin: 0;
    width: 100;
    padding: 2rem;  
}

.nav-link{
    display: flex;
    align-items: center;
}

.nav-body a{
    text-decoration: none;
    color: white;
}
.nav-body a:hover{
    text-decoration: none;
    color: #E98A15;
}
 
.nav-body > .nav-links{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 700px){
    .nav-body > .nav-links{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: end;
        width: 100%;
    }
    .nav-body{
        display: flex;
        justify-content: space-between;       
    }
}

.nav-body h1{
    margin: 0;
    font-size: 2.5rem;
}