.note-container{
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow: scroll;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.todo-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.todo-item{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap:0.5rem;
    background-color: #e4e4e4;
    color:black;
    font-size: 1rem;;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: all 0.2s ease-in-out;
}

.todo-item:hover{
    transform: scale(1.04);
    transition: all 0.2s ease-in-out;
}

.header-section{
    width:100%
}

.app-form-container{
    display: grid;
    gap: 0.5rem;
    width: 100%;
    grid-template-columns: 5fr 1fr;
}

.note-input{
    border: black solid 1px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    font-weight: 4;
    transition: all 0.2ms ease-in-out;
    cursor: pointer;
}

.note-button{
    color: #ffffff;
    border: #000000 solid 1px;
    background-color: #119c28;
    border-radius: 6px;
    padding: 10px;

    font-weight: 600;
    transition: all 0.2ms ease-in-out;
    cursor: pointer;
}