.showcase-container {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -moz-box-align: center;
    align-items: center;
    max-height: 350px;
    width: 100%;
    margin-bottom: 70px;
}

.showcase__photo {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    grid-column-start: 1;
    grid-column-end: 7;
}

.showcase__description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    grid-column-start: 6;
    grid-column-end: -1;
    position: relative;
    z-index: 1;
    width: 100%;
}


.showcase__photo-right {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
}

.showcase__description-right {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    
}
.showcase__description-right>*{

}


@media (max-width: 1000px) {
    .showcase__photo {
        position: relative;
        grid-area: 1 / 12 / -1 / 12;
        grid-column-start: 1;
        grid-column-end: 7;
        z-index: -1;
    }
    
    .showcase__description {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 1 / -1 / -1;
        grid-column-start: 1;
        grid-column-end: -1;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    

    .showcase__photo-right {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
        grid-area: 1 / 1 / -1 / 13;
        position: relative;
    }
    
    .showcase__description-right {
        position: relative;
        grid-area: 1 / 1 / -1 / 13;
        z-index: 1;
        
    }
    .showcase__description-right>*{
        z-index: 1;  
    }

}